<br />

<div class="row">
  <div class="col">
    <div class="col-md">
      <div class="car-text-center text-white mb-3" id="deliverd-text">
        <div class="car-header">
          <h5 class="car-title">Orders Deliverd</h5>
        </div>
        <div class="card-body">
          <h3 class="car-title"></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="col-md">
      <div class="car-text-center text-white mb-3" id="deliverd-text">
        <div class="car-header">
          <h5 class="car-title">Orders Deliverd</h5>
        </div>
        <div class="card-body">
          <h3 class="car-title"></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="col-md">
      <div class="car-text-center text-white mb-3" id="deliverd-text">
        <div class="car-header">
          <h5 class="car-title">Orders Deliverd</h5>
        </div>
        <div class="card-body">
          <h3 class="car-title"></h3>
        </div>
      </div>
    </div>
  </div>

  <div class="col">
    <div class="col-md">
      <div class="car-text-center text-white mb-3" id="deliverd-text">
        <div class="car-header">
          <h5 class="car-title">Orders Deliverd</h5>
        </div>
        <div class="card-body">
          <h3 class="car-title"></h3>
        </div>
      </div>
    </div>
  </div>
</div>
